---
import { workExperience } from '../data/workExperience';
import '../styles/global.css';
---

<div class="timeline relative mx-auto my-16 max-w-5xl sm:my-32">
  {
    workExperience.map((exp, index) => {
      const prevExp = index > 0 ? workExperience[index - 1] : null;
      const isNewCompany = !prevExp || prevExp.company !== exp.company;
      const isCurrent = index === 0;
      const cardClass = `card${isCurrent ? ' current' : ''}${isNewCompany && !isCurrent ? ' new-company' : ''}`;

      return (
        <div class={cardClass}>
          <h3 class="company">{exp.company}</h3>
          <h4 class="title">{exp.role}</h4>
          <div class="subtitle">
            <span class="text-teal-400">{exp.timeWithDuration}</span>
          </div>
          <p class="shortDescription">{exp.shortDescription}</p>
          <ul>
            {exp.list.map((listItem) => (
              <li>{listItem}</li>
            ))}
          </ul>
        </div>
      );
    })
  }
</div>
